.wrapper {
    display: grid;
    grid-template-columns: repeat(10, [col] auto);
    grid-template-rows: repeat(2, [row] auto);
    color: #444;
    grid-template-rows: 40px auto auto auto auto auto auto auto auto auto;
    height: 100%;
    width: 100%;
    grid-gap: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.navigation {
    grid-column: 1;
    grid-row: 2;
    background-color: blue;

    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto auto; */
    grid-gap: 0px;
    height: 100%;
    width: 100%;
}

.content {
    grid-column: col 2 / span 9;
    grid-row: 2;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(4, [col] auto);
    grid-template-rows: 50px 45px 40px auto auto;
    grid-gap: 2px;
    height: 100%;
    width: 100%;
}