.project {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #eaeaea;
    font-weight: bold;    
    border-bottom: 1px solid gray;
    padding: 10px;
}

.menubar {
    grid-column: 1;
    grid-row: 3;
    background-color: brown;
    /* margin: 10px; */
    width: 100%;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, [row] auto);
}

.overview {
    grid-column: 1;
    grid-row: 1;
    background-color: #eaeaea;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.boards {
    grid-column: 1;
    grid-row: 2;
    background-color: #dcdcdc;
    padding: 10px;
    font-weight: bold;
    width: 100%;
}

.boards-items {
    background-color: #dcdcdc;
    padding: 5px;
    align-items: center;
    width: 100%;
}

.boards-items .sprints {
    background-color: #cfcfcf;
    width: 100%;
}

.repos {
    grid-column: 1;
    grid-row: 3;
    background-color: #eaeaea;
    padding: 10px;
    width: 100%;
}

.pipelines {
    grid-column: 1;
    grid-row: 4;
    background-color: #eaeaea;
    padding: 10px;
    width: 100%;
}

.test-plans {
    grid-column: 1;
    grid-row: 5;
    background-color: #eaeaea;
    padding: 10px;
    width: 100%;
}

.test-artifacts {
    grid-column: 1;
    grid-row: 6;
    background-color: #eaeaea;
    padding: 10px;
    width: 100%;
}

.project-settings {
    grid-column: 1 / 3;
    grid-row: 4;
    background-color: #eaeaea;
    padding: 10px;
    border-top: 1px solid gray;
}

.img-rigth {
    float: right;
}